body {
text-align: center;
background-image: url("fond.jpg");
width:30%;
position: fixed;
padding-left:37%;
font-size: 20pt;
font-family: 'Anton', sans-serif;
}
marquee{
  height:600px;
  text-align: center;
}
.text {
  text-align: center;
  transform:rotate3d(1, 1, 1, 0deg);
  transform:perspective(70px) rotateX(15deg);
  line-height: 50px;
}
.txt {
  color:orange;
  text-align: center;
}
.ago {
    color:darkblue;
    text-align: center;
  }
img {
-webkit-animation: fadein 10s;
-webkit-animation-duration: 10s;
-webkit-animation-fill-mode: both;
position: absolute;
left:57%;
}

@keyframes fadein {
from { opacity: 1; }
to { opacity: 0; }
}

  /*
  img {
    animation:fadeout;
     transition-timing-function: ease-in;
     transition: 2s;
     transform: fadeout;
      }
  @keyframes img {
    0% {
        opacity:1;
      }
    to {
        opacity:0;
    }
}
@-moz-keyframes img {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-webkit-keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-o-keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity: 0;
    }
}
/*
@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-moz-keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-webkit-keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-o-keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity: 0;
    }
}
